<div class="row">
  <div class="well col-lg-3">
    <h1><%= current_user.team.name %></h1>

    <h2><%= t "devise.invitations.new.header" %></h2>

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <p>
      <%= f.email_field field, name: "user[email][]", placeholder: "Invitation email", required: true %>
      </p>

      <span id="createNewTextbox"></span>
      <a class="fa fa-plus" id="btnLinkCreate" href="#">
        Invite more
      </a>
      <a class="fa fa-times" id="btnLinkDestroy" href="#">
        Delete last
      </a>
    <% end -%>

      <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
    <% end %>
  </div>
  <div class="well col-lg-9">
    Your team's messages!
  </div>
</div>

<div class="row">
  <%= render 'shared/team_roster' %>
</div>
